@{ ViewData["Title"] = "About Penny For Your Thoughts Investment "; }
<style>
    body {
        background-color: cornflowerblue;
        color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
    }

    h1, h2 {
        color: black;
        font-family: 'Permanent Marker';
    }

    img {
        width: 30%;
    }

    footer {
        background-color: black;
    }
</style>

<article>
    <h2> Penny For Your Thoughts Investment</h2>

    <p>
        Previously called Wolf of Wall Street Investment
    </p>
    <img src="~/Images/invest.jpg" alt="invest" />
    <p>
        Founded by Jordan Belfort.<br/>
        We have been around since 1980.<br/>
        In 1999, we rebranded because we wanted to distance ourselves from Mr. Belfort.<br/>
        At that point, our co-workers started actually talking to people to figure out the best way to move forward.<br/>
        That is when <b>Penny For Your Thoughts</b> became our new motto, and soon after our new name.
    </p>
</article>
