@{ ViewData["Title"] = "About Penny For Your Thoughts Investment "; }
<style>
    body {
        background-color: steelblue;
        color: whitesmoke;
        font-family: "Nothing You Could Do";
    }

    h1, h2 {
        color: black;
        font-family: 'Permanent Marker';
    }

    img {
        width: 30%;
    }

    footer {
        background-color: black;
    }
</style>

<article class="row">
    <h2 class="col-sm-12"> Penny For Your Thoughts Investment</h2>
    <div class="col-sm-6">
        <p>
            Previously called Wolf of Wall Street Investment
        </p>
        <p>
            Founded by Jordan Belfort.<br />
            We have been around since 1980.<br />
            In 1999, we rebranded because we wanted to distance ourselves from Mr. Belfort.<br />
            At that point, our co-workers started actually talking to people to figure out the best way to move forward.<br />
            That is when <b>Penny For Your Thoughts</b> became our new motto, and soon after our new name.
        </p>
    </div>
    <img src="~/Images/invest.jpg" alt="invest" class="img-fluid rounded-circle"/>
</article>
