@{ ViewData["Title"] = "Contact PFYT!"; }
<style>
    body {
        background-color:darkseagreen;
        color: whitesmoke;
        font-family: "Nothing You Could Do";
    }

    h1, h2 {
        color: black;
        font-family: 'Permanent Marker';
    }

    footer {
        background-color: black;
    }
</style>
<h2>Penny For Your Thoughts Investment</h2>
<h3>Headquarters</h3>
<address>
    11 Wall St, New York<br />
    New York City, NY 10005<br />
    <abbr title="Phone">P: 1 (800) 325-4368</abbr>
    <abbr title="Email">Email:</abbr>
    <a href="mailto:europe@xyzdetectives.org">us@PFYT-investment.org</a><br />
</address>
<h3>International</h3>
<address>
    <strong>Europe:</strong>
    <a href="mailto:us@xyzdetectives.org">europe@PFYT-investment.org</a>
    221b Baker Street<br />
    London NW1 6XE, United Kingdom<br />
    <abbr title="Phone">P:</abbr>
    +44 20 7224 3688
    <br />
    <br />
    <strong>Africa:</strong> <a href="mailto:africa@xyzdetectives.org">africa@PFYT-investment.org</a><br />
    Mohammed Mohammed Amr Allah-15<br />
    Sidi Beshr Qebli, Al Montaza First, Alexandria Governate, Egypt<br />
    <abbr title="Phone">P: 01283159500</abbr>
    <br />
    <br />
    <strong>Australia:</strong> <a href="mailto:austrailia@xyzdetectives.org">australia@PFYT-investment.org</a><br />
    42 Wallaby Way<br />
    2000 Sydney, Australia<br />
    <abbr title="Phone">P: (02) 9876 5432</abbr>
</address>